* {
    font-size: 25px;
}
body {
    color: green;
}
header
{
    background-color: grey;
}
@media screen and (max-width: 600px) {
    li  {
      float: none;
      width: 50%;
    }
  }
h1 {
    color: white;
    font-size: 200%;
    text-decoration: underline;
    text-shadow: 2px 3px rgb(30, 231, 11)
}
h2 {
    font-size: 150%;
    text-decoration: underline;
}
/* Here, every word inbetween <em> and <div> is affected */
div em:first-child {
    color: darkgreen;
}
::selection {
    color: white;
    background-color:yellow; 
}
p.inset{
    text-align: left;
    border-style: inset;
    border-width: 2px;
    margin-left: 10%;
    margin-right: 50%;
    outline-style: groove;
}
p.bold{
    text-align: left;
    margin-left: 20px;
    text-indent: 50px;
    font-weight: bold;
}
img{
    height: 100px;
    width: 100px;
    float: left;
}
a:link {
    color: blue;
    text-decoration: underline;
}
a:visited {
    color: red;
}
a:hover {
    background-color:  rgb(31, 197, 16);
    color: white;
}
a:active {
    background-color:  rgb(31, 197, 16);
    color: darkgreen;
}
div.sticky {
    position: sticky;
    border: 2px, groove rgb(86, 212, 143);
    padding: 10px;
    background-color: green;
}
th,td {
    border: 2px solid white;
    padding: 10px;
    text-align: left;
}
table {
    border-collapse: collapse;
    border: 2px solid white;
    padding: 10px;
    text-align: left;
}
div.overflow {
    overflow: auto;
    height: 250px;
    width: 250px;
    background-color: yellowgreen;
}
span {
    display: none;
    background-color: darkgreen;
    padding: 20px;
}

div:hover span{
    display: block
}
/* This is how I'll create a navigation bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   }
  
li {
    float: left;
  }
  
li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
    outline-style: groove;
    border-style: inset;
    border-color: #dddddd; 
  }
  
li a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  button
  {
      color: #696969;
  }

  footer
  {
      background-color: #4CAF50;
      overflow: auto;
    padding: 10px;
  }
