<html>
    <head>
    <meta http-equiv="refresh" content="30">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" type = "text/css" href = "stylesheet2.css">
        <title>Coding abilities during quarantine</title>
    </head>
    <body>

    <header>
            <h1>My coding and programming page </h1>
            <ul>
                <li class="nav"><a href="Coding abilities.html">My coding abilities</a></li>
                <li class="nav"><a href="My Website 1.html">Home</a></li>
                <li class="nav"><a href="Contact.html">Contact</a></li>
                <li class="nav"><a href="About me.html">About me</a></li>
              </ul>
    </header>
        
<h1>This is the webpage where I chose to display more of my coding abilities</h1>

<p><a href="#C4"> Jump to my Unity games</a></p>
<p>As I have already mentioned, I have slightly began to learn certain coding languages, such as Python, CSS, 
    and HTML, as well as other forms like Scratch. Even more recently, I have begun to work on Unity game development and have made two games and participated in a game jam. This webpage will display all of that.</p> 
</p>

        <p class="inset">These were the coding languages that I used to be best at, depending on which year it was:</p>

 <div class="table">
     <table>
         <tr>
        <th>Year Group</th>
        <th>Language I was best at</th>
         </tr>
         <tr>
             <td> 9</td>
             <td> HTML</td>
         </tr>
         <tr>
             <td> 10</td>
             <td> Python, but also maybe c#(debatable)</td>
         </tr>
     </table>
 </div>
 <p></p>
        <div class="overflow">
            This is just going to be a pointless rant that I am going to make just so that I 
            can prove to myself that I can <em> code like an intermediate</em>. I have spent about two days 
            re-learning how to code in HTML, but the CSS stylesheets are something I have just learnt.
            my only problem is that my tables just won't show their borders and that irritates me 
            at this point. I won't allow myself to search up how to fix it because I want to test 
            myself, so instead, I'll learn from my other webpages.
        </div> 
        <p></p>
        <p>This is a list of the webpages that I made:</p>

    <p></p>

    <h2 id="C4">Unity games I've made</h2>
    <p>This is one of my games on my itch.io pages, called Slipstream:</p>
    <iframe frameborder="0" src="https://itch.io/embed/642932?linkback=true&amp;bg_color=f2abab&amp;border_color=000000" width="540" height="167"><a href="https://unknowningdev.itch.io/slipstream">Slipstream by UnknowningDev</a></iframe>
    <p> This is my second game, called Nice cool, which I made in a gaming competition this month:</p>
    <iframe frameborder="0" src="https://itch.io/embed/640797?linkback=true" width="552" height="167"><a href="https://unknowningdev.itch.io/nice-cool">Nice cool by UnknowningDev</a></iframe>
    </body>
</html>