*
{
	background-color: #2E72BB;
	color: black;
}
		
h1
{
	background-color: #E86549;
}
		
button
{
	background-color: #09E268;
	color: black;
}
		
input
{
	background-color: white;
	color: black;
}

@media screen and (max-width: 600px) {
    li  {
      float: none;
      width: 50%;
	}

  