<html>
    <head>
    <meta http-equiv="refresh" content="30">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="stylesheet2.css">
        <title>All about me</title>
    </head>
    <body>   
        <header>
            <h1>All about me</h1>
            <ul>
                <li class="nav"><a href="Coding abilities.html">My coding abilities</a></li>
                <li class="nav"><a href="My Website 1.html">Home</a></li>
                <li class="nav"><a href="Contact.html">Contact</a></li>
                <li class="nav"><a href="About me.html">About me</a></li>
              </ul>
        </header>

          <p></p>

        <h2> What is my name and where am I from?</h2>

          <p><img src="1200px-Flag_of_Ghana.svg.png" target = "_blank"> My name is Nana Yaw Amfo-Brobbey and I'm from  Ghana. I will not tell you 
              any more because I don't want any stalkers to find it easy to track down
            my location. </p>
            <p></p>
            <p></p>
        <h2> How old am I and what do I do for fun?</h2>

           <p> I have recently turned 15 and in general, I like to play football and basketball at school,
               but at my current time, I just spend the time watching Netflix & YouTube or 
            coding. </p>
        <h2> What subjects do I study and which am I best at?</h2>
            <p>I study Computer Science,Spanish, Chemistry, Physics, Biology and Business Studies. I am best at Chemistry but also
                I'm really good at Business Studies.
            </p>
    </body>
</html>