<html>
    <head>
        <title></title>
        <meta http-equiv="refresh" content="30">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="stylesheet2.css">
        <title>Contact</title>
    </head>
    <body>

    <header>
            <h1>Contacts </h1>
            <ul>
                <li class="nav"><a href="Coding abilities.html">My coding abilities</a></li>
                <li class="nav"><a href="My Website 1.html">Home</a></li>
                <li class="nav"><a href="Contact.html">Contact</a></li>
                <li class="nav"><a href="About me.html">About me</a></li>
              </ul>
    </header>
    

          <h1>Contacts </h1>

          <h2> First Pick</h2>
          <p> <img src="fp.JPG" target = "_blank"> Pick is a company that deals with top-class online  science tutoring and tours
              which you will never forget. If you or your children honestly can't make
              much sense of the teacher's learning, then First Pick is the place for you.
              I Need Science is a Facebook page managed by this company to provide live
              teaching lessons and quick feedback. The links are below: 
          </p>
          <a href="https://www.facebook.com/firstpickeducation/?hc_ref=ARTl2c1I0GAwJOw1AEXjf7M53jlRUJGzWm9dOlXKkKcCKdtKKig8iz2do0_HMJoeFs0&ref=nf_target&fref=tag&__xts__[0]=68.ARCtY6SyCJbmlo9SNtDMDk4ezBAWAXMDPc9HTql2MjvmS-bF9SA2FIF3w77hJLmGLPvrTWedrlsl2Q66Gpr_mYPqbG_KjvwqQ59SPG6sMMCAUQFqzZsc9CerO-TgFdVlqyAH7BlEUFQdYGxRVNgpP5GDkdWaVVMP8YPsIydOYA55QN9BplGr2nPbp7H7Acg2uZzwuw3ASg2e0ftHF36YML1MaLycYOfEHiKV0Oom0GYs-G2zXYqFNQ7gNEJzg8G3vlafn5XPtD2UKrGaV4RexpUyLSN4wTZsfne1Ym_UOIAHA5sHuTSDdlTsABAhY4wNWq30rj25HVhEfF2jgsY2YxKqRK45cD9usjnbeShUPfgCj70i6dOPTgHcQEoDQzJMXE4huHEAjS4otVmYuovtJKG3WcohmKqQHTyTMtqn5IRebKngOoOHtYdlW9p5VLO5DO2NGu5HvZ1h8prNsF6q0-D9BLv4ApQJ-JDAury0QR7Ip1o1PQ5xmmUCK9DzJA&__tn__=kC-R" target="_blank" >First Pick Education</a>

          <a href="https://www.facebook.com/firstpicktoursgh/" target="_blank" > First Pick Tours</a>

          <a href="https://www.facebook.com/ineedscience/" target="_blank"> IneedScience</a>


          <p></p>

          <footer>
              <ul>
                  <button> <a href="mailto:nana.amfobrobbey@gmail.com?cc=nanabrobbey@aaess.sch.ae&subject=About%20the%20games"> Click here to send an email</a></button>
              </ul>
          </footer>
    </body>
</html>