{%extends "base.html"%}
{%block title%} Base page of Flask application{%endblock%}
{%block style%}
	<style>
		*
		{
			background-color: #16FABB;
			color: black;
		}

		h1
		{
			background-color: #5CE649;
		}
		
		button
		{
			background-color: #09E368;
			color: black;
		}

		h2
		{
			background-color: #4C76FC;
			color: white;
		}

		p.data1, h2.post_title
		{
			background-color: #FAEB0A;
			color: black;
		}
		p.data2, p.post_body, p.contact
		{
			background-color: #722FFA;
			color: white;
		}
		
		img
		{
			height: 50%;
			width: 100%;
		}

	</style>
{%endblock%}
{% block header %}

{% endblock %}
{%block content%}
	{% with messages  = get_flashed_messages()%}
		{% if messages%}
			{% for msg in messages%}
				<h2>{{msg}}<h2>
			{% endfor %}
		{% endif %}
	{% endwith %}

	<p>This website is the collection of my Flask skill taught to me by Tech With Tim. I am a  man of honour, so I like to give credit where it is due</p>

	{% if request.path == "/learning/add"%}
	<h2> If you have any information which you feel would be beneficial to others, please enter it in the following form</h2>
	<form action="/learning/add" method="POST">
		<input style="width: 50%;" type="text" name="post_title" placeholder="Enter the title of the post (best if written as a question)"/>
		<p></p>
		<input style="width: 50%; height: auto" type="text" name="post_body" placeholder="Enter the content of the post which answers the above question" />
		<input type="submit" name="Submit" value="Submit" />
	</form>
	{% endif%}

	{% if values%}
		<h1>Here is a  table of all of the data held within the database</h1>
	{% endif%}
	{% for item in values %}
		<p class="data1">Name: {{item.name}}</p>
		<p class="data2">Email: {{item.email}}</p>
	{% endfor %}

	{% if request.path == "/user/edit_details"%}
		<form method="POST">
			<h3 align="center">About me </h3>

			<div class="form-group">
				<label for="about_me"> About me</label>
				<input type="text"
					class="form-control"
					id="about_me"
					name="about_me"
					placeholder="Describe yourself"
				/>
			</div>

			<button type="submit" class="btn btn-primary">Commit changes to account</button>
		</form>
	{% endif %}

	{%if user%}
		<img src="{{ user.avatar(100) }}" style="float:left;width:20%;height:20%">
		<h2>{{user.name}}</h2>
		<h3> About me </h3>
		<p> {{user.about_me}}</p>
	{%endif%}

	{% if knowledge%}
		<h1>Here are all of the possible bodies of information that you would like to know based on what you are looking for.</h1>
		{% for item in knowledge%}
			<h2 class="post_title">{{item.title}}</h2>
			<p class="post_body"><img src="{{ item.author.avatar(100) }}" style="float:left;width:100px;height:100px">{{item.body}}</p>
			<p class="username"><b> Posted by {{users.query.filter_by(email=item.email).first().name}} at {{item.timestamp.strftime("%d/%m/%Y, %H:%M:%S")}} </b></p>
			<p class=contact> For more infomation regarding this post, please contact the user at {{item.email}}</p>
			<p></p>
		{% endfor %}
	{% endif %}

	<!-- <div> Choose your song to play here:
		<form action="/user/<detail>/play" method="POST">
			<input style="width: 30%;" type="text" name="song" placeholder="Please enter the name of the song you want to play">
			<input type="submit" value="Choose song">
		</form> 
	</div>-->

	<iframe src="https://open.spotify.com/embed/playlist/7JNg1Ebg92KTTVpZt38XkL" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

	<!-- <image src="{{ url_for('static', filename='Images/code-matrix.jpg')}}" alt="Epic background image"></image>
	-->
	{% if request.path == "/user/edit_profile"%}
		<h2>Please enter new details in the following form if you would like to change your details</h2>
		<form method="POST">
			<h3 align="center">Sign up </h3>

			<div class="form-group">
				<label for="name"> First name</label>
				<input type="text"
					class="form-control"
					id="name"
					name="name"
					placeholder="Enter new first name"
				/>
			</div>

			<div class="form-group">
				<label for="email"> Email address</label>
				<input type="email"
					class="form-control"
					id="email"
					name="email"
					placeholder="Enter new email address"
				/>
			</div>
			
			<div class="form-group">
				<label for="password1"> Password</label>
				<input type="password"
					class="form-control"
					id="password1"
					name="password1"
					placeholder="Enter password"
				/>
			</div>

			<div class="form-group">
				<label for="password2"> Confirm Password</label>
				<input type="password"
					class="form-control"
					id="password2"
					name="password2"
					placeholder="Confirm password"
				/>
			</div>
			<br />
			<button type="submit" class="btn btn-primary">Commit changes to account</button>
		</form>
	{%endif%}

	

{%endblock%}
 
{% block usr%}

{%endblock%}
