{%extends "base.html"%}
{%block title%} Home page{%endblock%}
{%block style%}
	<style>
		*
		{
			background-color: #16FABB;
			color: black;
		}
		
		h1
		{
			background-color: #5CE649;
		}
		
		button
		{
			background-color: #09E368;
			color: black;
		}
		p.data1
		{
			background-color: #FAEB0A;
			color: black;
		}
		p.data2
		{
			background-color: #722FFA;
			color: white;
		}
		
		img
		{
			height: 50%;
			width: 100%;
		}

		::placeholder {
		font-style: italic;
		color: mintcream;
		padding: 5px;
	}
	</style>
{%endblock%}
{% block header %}
<h1> Welcome back, {{user.name}}, to your profile page</h1>	
{% endblock %}
{%block content%}
	{% with messages  = get_flashed_messages()%}
		{% if messages%}
			{% for msg in messages%}
				<p>{{msg}}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}

	<h2> Would you like to ask a question?</h2>
	<h4>Make sure to look at a couple of previous questions to make sure that your question hasn't already been answered</h4>
	<form action="/education/contribute" method="POST">
		<input style="width: 70%;" type="text" name="title" placeholder="What exactly is your question?"/>
		<br>
		<input style="width: 70%; height: 10%;" type="text" name="body" placeholder="Be as descriptive about your question as possible. What exactly is not making sense to you? Use as many keywords as necessary to get what you want to know across." />
		<br>
		<input style="width: 70%;" type="text" name="tags" placeholder="Enter tags (separated by commas) which can help others in your situation find the question. Use examples such as subject, sub-topic, year and other keywords etc." />
		<br>
		<input class="btn btn-warning"type="submit" name="Submit" value="Ask a question" />
	</form>
	
	{% if values%}
		<h1>A table of all of the data held within the database</h1>
	{% endif%}
	{% for item in values %}
		<p class="data1">Name: {{item.name}}</p>
		<p class="data2">Email: {{item.email}}</p>
	{% endfor %}

	{% if posts%}
		<h1>A table of all of the data held within the database</h1>
	{% endif%}
	{% for item in posts %}
		<table>
			<tr valign="top">
				<td><img src="{{ item.author.avatar(128) }}"></td>
				<td><h1>Question: {{ item.title }}</h1></td>
				<td><h1>Details:</h1> <p>{{item.body}}</p></td>
				<td><h1>Asked by: </h1> <p>{{item.author.name }} on {{item.timestamp.strftime("%c")}}</p></td>
			</tr>
		</table>
	{% endfor %}

	<table>
        <tr valign="top">
            <td><img src="{{ user.avatar(128) }}"></td>
            <td><h1>User:</h1> <p>{{ user.name }}</p></td>
			<td><h1>About me: </h1> <p>{{ user.about_me }}</p></td>
        </tr>
    </table>
    <hr>

	{%if request.method == 'POST'%}
	<form action="/user/{{detail}}/edit_profile" method="POST">
		<input type="submit" name="Submit" value="Edit details" />
	</form>
	{%endif%}
	
{%endblock%}
 
