{%extends "base.html"%}
{%block title%} Home page{%endblock%}
{%block style%}
	<style>
		*
		{
			background-color: #16FABB;
			color: black;
		}
		
		h1
		{
			background-color: #5CE649;
		}
		
		button
		{
			background-color: #09E368;
			color: black;
		}
		p.data1
		{
			background-color: #FAEB0A;
			color: black;
		}
		p.data2
		{
			background-color: #722FFA;
			color: white;
		}
		
		img
		{
			height: 50%;
			width: 100%;
		}

		#post{
			height:20%;
			width:20%;
		}

		::placeholder {
		font-style: italic;
		color: mintcream;
		padding: 5px;
	}
	</style>
{%endblock%}
{% block header %}
<h1> Welcome back, {{user.name}}, to your profile page</h1>	
{% endblock %}
{%block content%}
	{% with messages  = get_flashed_messages()%}
		{% if messages%}
			{% for msg in messages%}
				<p>{{msg}}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}

	{%if request.path == "/education/home"%}
		<h2> Would you like to ask a question?</h2>
		<h4>Make sure to look at a couple of previous questions to make sure that your question hasn't already been answered</h4>
		<form action="/education/contribute" method="POST">
			<input style="width: 70%;" type="text" name="title" placeholder="What exactly is your question?"/>
			<br>
			<input style="width: 70%; height: 10%;" type="text" name="body" placeholder="Be as descriptive about your question as possible. What exactly is not making sense to you? Use as many keywords as necessary to get what you want to know across." />
			<br>
			<input style="width: 70%;" type="text" name="tags" placeholder="Enter tags (separated by commas) which can help others in your situation find the question. Use examples such as subject, sub-topic, year and other keywords etc." />
			<br>
			<input class="btn btn-warning"type="submit" name="Submit" value="Ask a question" />
		</form>
	{%endif%}


	{% for item in posts %}
	<img id="post"style="float:left;" src="{{ item.question_author.avatar(128) }}">
	<a id="post" style="float:right;" href="{{url_for('blueprint.upvote', id=item.id)}}" class="btn btn-success">Upvote</a>
	<a id="post" style="float:right;" href="{{url_for('blueprint.downvote', id=item.id)}}" class="btn btn-danger">Downvote</a>
		<h1>Question: {{ item.title }}</h1>
		<p><b>Details:</b> {{item.body}}</p>
		<p><b>Asked by:</b> {{item.question_author.name }} on {{item.timestamp.strftime("%c")}}</p>
		<p><b>Upvotes:</b> {{item.upvotes}}</p>
		<p><b>Downvotes:</b> {{item.downvotes}}</p>
		{%if item.question_author == user%}
		<h3>If you ever wish to edit your post:</h3>
		<form method="POST" action="/education/edit_post/{{item.id}}">
			<input style="width: 70%;" type="text" name="title" placeholder="What exactly is your question?"/>
			<br>
			<input style="width: 70%; height: 10%;" type="text" name="body" placeholder="Be as descriptive about your question as possible. What exactly is not making sense to you? Use as many keywords as necessary to get what you want to know across." />
			<br>
			<input style="width: 70%;" type="text" name="tags" placeholder="Enter tags (separated by commas) which can help others in your situation find the question. Use examples such as subject, sub-topic, year and other keywords etc." />
			<br>
			<input class="btn btn-warning"type="submit" name="Submit" value="Ask a question" />
		</form>
		{%endif%}

		<form method="POST" action="/education/answer/{{item.id}}">
			<input type="text" name="reply_text" placeholder="Wish to answer this question? Feel free to answer.">
			<input type="submit" name="Submit" value="Answer">
		</form>
		{%for reply in item.replies%}
			<!-- Make a similar upvote and downvote system using the Replies database-->
			<img id="post"style="float:left;" src="{{ reply.comment_author.avatar(128) }}">
			<a id="post" style="float:right;" href="{{url_for('blueprint.post_upvote', id=reply.id)}}" class="btn btn-success">Upvotes: {{reply.upvotes}}</a>
			<a id="post" style="float:right;" href="{{url_for('blueprint.post_downvote', id=reply.id)}}" class="btn btn-danger">Downvotes: {{reply.downvotes}}</a>
			<p class="data1"><b>Answered by:</b> {{reply.comment_author.name }} on {{reply.timestamp.strftime("%c")}}</p>
			<p class="data2"><b>Detailed answer:</b> {{reply.reply}}</p>
		{%endfor%}
	{%endfor%}

	{% if not posts%}
	<br><br>
	<table>
        <tr valign="top">
            <td><img src="{{ user.avatar(128) }}"></td>
            <td><h1>User:</h1> <p>{{ user.name }}</p></td>
			<td><h1>About me: </h1> <p>{{ user.about_me }}</p></td>
        </tr>
    </table>
    <hr>
	{%endif%}
{%endblock%}
 
