{%extends "base.html"%}
{%block title%} Home page{%endblock%}
{%block style%}
	<style>
		*
		{
			background-color: #16FABB;
			color: black;
		}
		
		h1
		{
			background-color: #5CE649;
		}
		
		button
		{
			background-color: #09E368;
			color: black;
		}
		p.data1
		{
			background-color: #FAEB0A;
			color: black;
		}
		p.data2
		{
			background-color: #722FFA;
			color: white;
		}

		input{
			margin: 1%;
		}

		.base-timer {
			position: relative;
			width: 300px;
			height: 300px;
			}

		.base-timer__svg {
			transform: scaleX(-1);
			}

		.base-timer__circle {
			fill: none;
			stroke: none;
			}

		.base-timer__path-elapsed {
			stroke-width: 7px;
			stroke: grey;
			}

		.base-timer__path-remaining {
			stroke-width: 7px;
			stroke-linecap: round;
			transform: rotate(90deg);
			transform-origin: center;
			transition: 1s linear all;
			fill-rule: nonzero;
			stroke: currentColor;
			}

		.base-timer__path-remaining.green {
			color: rgb(65, 184, 131);
			}

		.base-timer__path-remaining.orange {
			color: orange;
			}

		.base-timer__path-remaining.red {
			color: red;
			}

		.base-timer__label {
			background: none;
			position: absolute;
			width: 300px;
			height: 300px;
			top: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 17px;
			}

			#pomodoro{
				width: 30%;
			}

			::placeholder {
				font-style: italic;
				color: mintcream;
				padding: 5px;
			}

	</style>
{%endblock%}
{% block header %}
<h1> Why, hello there, {{user.name}}. Ready to get some work done today?</h1>	
{% endblock %}
{%block content%}
	{% with messages  = get_flashed_messages()%}
		{% if messages%}
			{% for msg in messages%}
				<p>{{msg}}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}
	
	<div id="app"></div>
	

	<form action="/education/pomodoro" method='POST'>
		<input type="text" name="pomodoro" id='pomodoro' placeholder="Enter the number of seconds per work-break cycle">
		<br>
		<input type="submit" value='Set cycle'> 
		<input type="button" id="pause" class="btn btn-outline-warning" size="height:5%;width=45%" value="Start/Pause pomodoro timer" onclick="Pause()"> <input type="reset" value="Reset" onclick="onTimesUp()"> 		
	</form>

	<audio id="audio" src="mixkit-scanning-sci-fi-alarm-905.wav" type="audio/wav">

    <script>
		const FULL_DASH_ARRAY = 283;
		const WARNING_THRESHOLD = 10;
		const ALERT_THRESHOLD = 5;

		const COLOR_CODES = {
		info: {
			color: "green"
		},
		warning: {
			color: "orange",
			threshold: WARNING_THRESHOLD
		},
		alert: {
			color: "red",
			threshold: ALERT_THRESHOLD
		}
		};

		const TIME_LIMIT = parseInt('{{pomodoro}}');
		let timePassed = 0;
		let pause = false;
		let timeLeft = TIME_LIMIT;
		let timerInterval = null;
		let remainingPathColor = COLOR_CODES.info.color;
		var myAudio = document.getElementById('audio');

		//w3.org link is blocked by my internet provider
		document.getElementById("app").innerHTML = `
		<div class="base-timer">
		<svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
			<g class="base-timer__circle">
			<circle class="base-timer__path-elapsed" cx="50" cy="50" r="45"></circle>
			<path
				id="base-timer-path-remaining"
				stroke-dasharray="283"
				class="base-timer__path-remaining ${remainingPathColor}"
				d="
				M 50, 50
				m -45, 0
				a 45,45 0 1,0 90,0
				a 45,45 0 1,0 -90,0
				"
			></path>
			</g>
		</svg>
		<span id="base-timer-label" class="base-timer__label">${formatTime(timeLeft)}</span>
		</div>
		`;

		startTimer();

		function onTimesUp() {
		clearInterval(timerInterval);
		timeLeft = 0;
		setRemainingPathColor(timeLeft);
		document.getElementById("base-timer-label").innerHTML = formatTime(timeLeft);
		}

		function Pause()
		{
			pause = !pause;
		}

		function startTimer() {
		timerInterval = setInterval(() => {
			if (pause == false){
				timePassed = timePassed += 1;
				timeLeft = TIME_LIMIT - timePassed;
			}
			
			document.getElementById("base-timer-label").innerHTML = formatTime(timeLeft);
			if (formatTime(timeLeft) != "Set a time cycle and get to work."){
				document.getElementById("base-timer-label").style.fontSize = "xx-large";
			}
			else{
				document.getElementById("base-timer-label").style.fontSize = "medium";
			}
			setCircleDasharray();
			setRemainingPathColor(timeLeft);

			if (timeLeft === 0) { onTimesUp(); myAudio.play(); }
		}, 1000);
		}

		function formatTime(time) {
		const hours = Math.floor(time/3600);
		const minutes = Math.floor(time / 60);
		let seconds = time % 60;
		seconds = parseInt(seconds);

		if (parseInt(seconds) < 60 && minutes === 0) {
			return `00:00:${seconds}`;
		}
		if (seconds >= 0 & minutes >= 0)
		{
			if (minutes === 60){
				var minutes_1 = `00`;
			}
			if (minutes < 10){
				var minutes_1 = `0${minutes}`;
			}
			if (seconds < 10){
				var seconds_1 = `0${seconds}`;
			}
			else{
				var minutes_1 = minutes;
				var seconds_1 = seconds;
			}
			return `${hours}:${minutes_1}:${seconds_1}`;
		}
		else
		{
			return `Set a time cycle and get to work.`;
		}
		
		}

		function setRemainingPathColor(timeLeft) {
		const { alert, warning, info } = COLOR_CODES;
		if (timeLeft <= alert.threshold) {
			document
			.getElementById("base-timer-path-remaining")
			.classList.remove(warning.color);
			document
			.getElementById("base-timer-path-remaining")
			.classList.add(alert.color);
		} else if (timeLeft <= warning.threshold) {
			document
			.getElementById("base-timer-path-remaining")
			.classList.remove(info.color);
			document
			.getElementById("base-timer-path-remaining")
			.classList.add(warning.color);
		}
		}

		function calculateTimeFraction() {
		const rawTimeFraction = timeLeft / TIME_LIMIT;
		return rawTimeFraction - (1 / TIME_LIMIT) * (1 - rawTimeFraction);
		}

		function setCircleDasharray() {
		const circleDasharray = `${(
			calculateTimeFraction() * FULL_DASH_ARRAY
		).toFixed(0)} 283`;
		document
			.getElementById("base-timer-path-remaining")
			.setAttribute("stroke-dasharray", circleDasharray);
		}
		
    </script>

{%endblock%}
