{%extends "base.html"%}
{%block title%} Home page{%endblock%}
{%block style%}
	<style>
		*
		{
			background-color: #16FABB;
			color: black;
		}
		
		h1
		{
			background-color: #5CE649;
		}
		
		button
		{
			background-color: #09E368;
			color: black;
		}
		p.data1
		{
			background-color: #FAEB0A;
			color: black;
		}
		p.data2
		{
			background-color: #722FFA;
			color: white;
		}

		input{
			margin: 1%;
		}


	</style>
{%endblock%}
{% block header %}
<h1> Why, hello there, {{user.name}}. Ready to get some work done today?</h1>	
{% endblock %}
{%block content%}
	{% with messages  = get_flashed_messages()%}
		{% if messages%}
			{% for msg in messages%}
				<p>{{msg}}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}
	

	<audio id="audio" src="static/mixkit-scanning-sci-fi-alarm-905.wav" type="audio/wav"> </audio>

    <script>
    </script>

{%endblock%}
