{% extends "base.html" %}
{% block title%}Login Page{% endblock %}
{%block style%}
	<style>
		*
		{
			background-color: #1BD2BB;
			color: black;
		}
		
		h1
		{
			background-color: #E86549;
		}
		
		button
		{
			background-color: #09E268;
			color: black;
		}
		
		input
		{
			background-color: white;
			color: black;
		}
	</style>
{%endblock%}
{% block content%}
	{% with messages  = get_flashed_messages()%}
		{% if messages%}
			{% for msg in messages%}
				<p>{{msg}}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}

<h2>Sign up form</h2>

<form method="POST">
	<p><input type="text" name="nm" placeholder="Enter your username"/></p>
	<p><input type="text" name="email" placeholder="Enter your email"/></p>
	<p><input type="text" name="password1" placeholder="Enter password"/></p>
	<p><input type="text" name="password2" placeholder="Confirm password"/></p>
	<p><input type="submit" name="Submit" value="Submit" /></p>
</form>

{%endblock%}