{%extends "base.html"%}
{%block title%} To-do list application{%endblock%}
{%block style%}
	<style>
		*
		{
			background-color: #16FABB;
			color: black;
		}
		
		h1
		{
			background-color: #5CE649;
		}
		
		button
		{
			background-color: #09E368;
			color: black;
		}
		p.data1
		{
			background-color: #FAEB0A;
			color: black;
		}
		p.data2
		{
			background-color: #722FFA;
			color: white;
		}
		
		img
		{
			height: 50%;
			width: 100%;
		}
	</style>
{%endblock%}
{% block header %}
<h1> Welcome, {{user}}, to your collections of tasks. Here, you can modify and view your tasks</h1>	
{% endblock %}
{%block content%}
	
	<p>This website is the collection of my Flask skill taught to me by Tech With Tim. I am a  man of honour, so I like to give credit where it is due</p>
    <div> Add a new task here <input type="text"><input type="button"></div>
    <div>
        <ul>
            <li><input type="checkbox">Task Numero Uno</li>
        </ul>
	</div>
	
	<image src="{{ url_for('static', filename='Images/code-matrix.jpg')}}" >
{%endblock%}
 
{% block usr%}
{%endblock%}