{%extends "base.html"%}
{%block title%} To-do list application{%endblock%}
{%block style%}
	<style>
		*
		{
			background-color: #16FABB;
			color: black;
		}
		
		h1
		{
			background-color: #5CE649;
		}
		
		button
		{
			background-color: #09E368;
			color: black;
		}
		p.data1
		{
			background-color: #FAEB0A;
			color: black;
		}
		p.data2
		{
			background-color: #722FFA;
			color: white;
		}
		
		img
		{
			height: 50%;
			width: 100%;
		}
	</style>
{%endblock%}
{% block header %}
<h1> Welcome to your collections of tasks. Here, you can modify and view your tasks</h1>	
{% endblock %}
{%block content%}
	
	<p>This website is the collection of my Flask skill taught to me by Tech With Tim. I am a  man of honour, so I like to give credit where it is due</p>
    <div> Add a new task here:
		<form action="/todo/add" method="POST">
			<input style="width: 30%;" type="text" name="task">
			<input type="submit" value="Add new task">
		</form> 
	</div>
    <div>
		<!-- <form action="/todo/update" method="POST"> -->
			<h2>Incomplete tasks</h2>
			<ul>
				{%	for i in todo_list%}
				<li > {{i.body}} <a style="font-size: 15px" href="{{url_for('todo.complete', id=i.id)}}">Mark as complete</a></li>
				<!-- 
					<li> <input name="{{i.id}}" type="checkbox"> {{i.body}}</li>
					This code can be used for checkboxes but can't be detected by 
					forms which will be very important later on when detectingx
					complete and incomplete tasks
				-->
				{% endfor %}
			</ul>
			<h2>Completed task</h2>
			<ul>
				{% for i in completed_todos%}
					<li> {{i.body}} <a href="{{url_for('todo.incomplete', id=i.id)}}" class="btn btn-success">Mark as incomplete</a> <a href="{{url_for('todo.delete', id=i.id)}}" class="btn btn-danger">Delete this task</a></li>
				{% endfor%}
			</ul>

		<!-- </form> -->
	</div>

	
	<image src="{{ url_for('static', filename='Images/code-matrix.jpg')}}" >
{%endblock%}
 
{% block usr%}
{%endblock%}